header {
    font-family: 'Rubik Distressed', cursive;
    text-align: center;
    font-size: 5vw;
    background-color: skyblue;
}
p {
    font-family: 'Cutive Mono', monospace;
    font-size: 2vw;
}